{% extends 'base.html.twig' %}

{% block title %}Tirage au sort de la tombola - {{ parent() }}{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row">
			<div class="col">
				<div class="waiting-block">
					<div class="countdown-container">
						<h1 class="text-center text-uppercase">Tirage au sort de la tombola<br><small>Samedi 26 Juin à 9h</small></h1>
						<!-- <label id="countdown"></label> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container mt-5">
		<div class="row">
			<div class="col-lg-9 mx-auto">
				<div class="video-responsive">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/7pssxlY7wps" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<h2>Résultats de la tombola du 26 juin 2021</h2>
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th scope="col">
									N° du lot
								</th>
								<th scope="col">
									Nom du lot
								</th>
								<th scope="col">
									N° du ticket gagnant
								</th>
								<th scope="col">
									Nom prénom du gagnant
								</th>
								<th scope="col">
									Nom Prénom du vendeur
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>Le salon de jardin</td>
								<td>1984</td>
								<td>SAURET Claude</td>
								<td>SETAN Louiny</td>
							</tr>
							<tr>
								<td>2</td>
								<td>Le vélo (6-9 ans) et
									son casque</td>
								<td>2453</td>
								<td>ROCLANAK Yari</td>
								<td>BOUKARI Bazil</td>
							</tr>
							<tr>
								<td>3</td>
								<td>Le panier de produits
									locaux et sa carte cadeau</td>
								<td>0457</td>
								<td>MARCONNET Leny</td>
								<td>MARCONNET Malo</td>
							</tr>
							<tr>
								<td>4</td>
								<td>La plancha</td>
								<td>1985</td>
								<td>SAURET Claude</td>
								<td>SETAN Louiny</td>
							</tr>
							<tr>
								<td>5</td>
								<td>La tablette</td>
								<td>0828</td>
								<td>MARZAC Lucien</td>
								<td>REGNOUARD</td>
							</tr>
							<tr>
								<td>6</td>
								<td>un casque Bluetooth</td>
								<td>0363</td>
								<td>COGNAULT Christine</td>
								<td>COGNAULT GABIN</td>
							</tr>
							<tr>
								<td>7</td>
								<td>Un kit de tir à l'arc</td>
								<td>0605</td>
								<td>CHARTIER Catherine</td>
								<td>CHARTIER Eloan</td>
							</tr>
							<tr>
								<td>8</td>
								<td>Un kit de badminton</td>
								<td>0003</td>
								<td>COURADEAU Olivier</td>
								<td>COURADEAU Alexis</td>
							</tr>
							<tr>
								<td>9</td>
								<td>2 entrées balnéo
									Abysséa</td>
								<td>1927</td>
								<td>GUERAUD Jean-Louis</td>
								<td>VIALLE Clémence</td>
							</tr>
							<tr>
								<td>10</td>
								<td>1 séance de watermass
									chez Zen Attitude</td>
								<td>1139</td>
								<td>RONDEAU Jennifer</td>
								<td>RONDEAU Alexandre</td>
							</tr>
							<tr>
								<td>11</td>
								<td>2 entrées balnéo
									Abysséa</td>
								<td>0881</td>
								<td>LIENART Béa</td>
								<td>BELLOT Thiméo</td>
							</tr>
							<tr>
								<td>12</td>
								<td>1 balade en famille
									en vélo rail à Chauvigny</td>
								<td>0652</td>
								<td>VANEQUE Corine</td>
								<td>OSSART Margo</td>
							</tr>
							<tr>
								<td>13</td>
								<td>Modelage de 30 min
									chez Zen Attitude</td>
								<td>1133</td>
								<td>LACROIX Patrick</td>
								<td>RONDEAU Alexandre</td>
							</tr>
							<tr>
								<td>14</td>
								<td>1 mètre de bière</td>
								<td>0261</td>
								<td>L'ELEOUET Erwan</td>
								<td>Ayamé et William</td>
							</tr>
							<tr>
								<td>15</td>
								<td>1 partie de bowling
									pour 2 personnes Abysséa</td>
								<td>0456</td>
								<td>Marconnet
									Marinette<span>&nbsp;</span></td>
								<td>MARCONNET Malo</td>
							</tr>
							<tr>
								<td>16</td>
								<td>1 séance de watermass
									chez Zen Attitude</td>
								<td>0518</td>
								<td>MILON Ginette</td>
								<td>SETAN Louiny</td>
							</tr>
							<tr>
								<td>17</td>
								<td>1 partie de bowling
									pour 2 personnes Abysséa</td>
								<td>1389</td>
								<td>LEPROUX Sandrine</td>
								<td>GROS Louka</td>
							</tr>
							<tr>
								<td>18</td>
								<td>4 entrées piscine
									Abysséa</td>
								<td>1320</td>
								<td>LEGEAS Fabienne</td>
								<td>FONTAINE Macéo</td>
							</tr>
							<tr>
								<td>19</td>
								<td>1 séance de watermass
									chez Zen Attitude</td>
								<td>2273</td>
								<td>FRIQUET Amandine</td>
								<td>FRIQUET Amandine</td>
							</tr>
							<tr>
								<td>20</td>
								<td>4 entrées piscine
									Abysséa</td>
								<td>0682</td>
								<td>LEGOUHINEC Anaël</td>
								<td>Masson</td>
							</tr>
							<tr>
								<td>21</td>
								<td>Batterie externe</td>
								<td>1732</td>
								<td>REYCHLER Ingrid</td>
								<td>ROUX Juliette</td>
							</tr>
							<tr>
								<td>22</td>
								<td>Kit pour fabriquer sa
									lessive</td>
								<td>1022</td>
								<td>CHRISTIN Patricia</td>
								<td>SARRAZIN CHRISTIN
									Camille</td>
							</tr>
							<tr>
								<td>23</td>
								<td>Kit de jeux de voyage</td>
								<td>1875</td>
								<td>ANGENOT Anthony</td>
								<td>VANHOUTTE ENORA</td>
							</tr>
							<tr>
								<td>24</td>
								<td>Kit de jardinage</td>
								<td>1760</td>
								<td>BRETON Raymond</td>
								<td>COGNAULT GABIN</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
