{% extends 'base.html.twig' %}

{% block title %}Tirage au sort de la tombola - {{ parent() }}{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row">
			<div class="col">
				<div class="waiting-block">
					<div class="countdown-container">
						<h1 class="text-center text-uppercase">Je suis perdu ...<br><small>Que dois-je faire ?</small></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
