main {
    height: auto;
}



.video-responsive { 
    position: relative;
    overflow: hidden; 
    padding-bottom: 56.25%;  
    height: auto;
    box-shadow: $shadow;
    iframe {
        position: absolute;
        left: 0; 
        top: 0; 
        height: 100%;
        width: 100%;
    }
}